<div style="position: absolute; top: 40%; left: 40%;">
    <mat-spinner *ngIf="loadding == true"></mat-spinner>
  </div>
  <div style="background-color: white; padding: 20px 23px; border: 1px solid rgba(0,0,0,.125);">
  
    <div class="row">
      <div class="row">
          <h2 class="col-sm-6" style="font-weight: 500;">Danh sách nhân viên</h2>
          <div class="mb-3 col-sm-5" style="text-align: right;">
            <input type="text" class="form-control" placeholder="Tìm kiếm" aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="this.filterText" (keyup)="onSearch()">
        </div>
        <div class=" col-sm-1" style="text-align: right;">
          <mat-icon style="vertical-align: middle; text-align: right;
          color: blue;
          margin-top: -1px;" title="Thêm nhân viên mới"  (click)="openCreate()">
            add_circle_outline</mat-icon>
        </div>
      </div>
  
    </div>

  
    <div class="row">
      <!-- <div *ngIf="isLoading">
          </div> -->
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th style="text-align: left;width:20px;">STT</th>
              <th style="width:35px;">Tài khoản</th>
              <th style="width:200px;">Họ và tên</th>
              <th>Số điện thoại</th>
              <!-- <th>Địa chỉ</th> -->
            </tr>
          </thead>
          <tbody style="border-top: none;">
            <!-- <tr *ngIf="isLoading">
                        <td colspan="5">
                          <app-loading [isLoading]="isLoading"></app-loading>
                        </td>
                    </tr> -->
            <tr *ngFor="let item of Emp; index as i" class="align-middle">
              <td style="text-align: center;">{{i + 1}}</td>
              <td>{{item.UserName}}</td>
              <td>{{item.FullName}}</td>
              <td>{{item.Phone}}</td>
              <!-- <td>{{item.address}}</td> -->
              <!-- <td style="text-align: center;"><i class="bi bi-pencil-square" style="font-size:15px;cursor: pointer;"
                  (click)="openEdit(item.id)"></i><i class="bi bi-trash3" (click)="openDelete(item.id)"
                  style="font-size:15px;padding-left: 5px;cursor: pointer;"></i>
                  <i class="bi bi-person-lines-fill" style="font-size:15px;padding-left: 5px;cursor: pointer;" (click)="openPermission(item.id)"></i>
                </td> -->
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  
  </div>
  